body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.side-menu {
    width: 250px;
    height: 100%;
    background-color: #2c3e50;
    position: fixed;
    
}

.side-menu ul {
    list-style: none;
    padding: 20px;
}

.side-menu li {
    color: white;
    padding: 10px;
    cursor: pointer;
    
}


/* Seu CSS existente permanece o mesmo */

.search-bar {
    background-color: #316ff5;
    padding: 10px;
    display: flex;
    text-align: right;

}

.search-bar input {
    width: 10%;
    padding: 6px;
    border: none;
    border-radius: 20px;
    outline: none;
    
}
  
.search-btn {
    background-color: #316ff5;
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    
}

.search-btn i {
    color: white;
}


.container {
    max-width: 600px;
    margin: 20px auto;
}

.tweet {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.user-avatar {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 50%;
    margin-right: 10px;
}

.tweet-content {
    flex-grow: 1;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.username {
    font-weight: bold;
    margin-right: 5px;
}

.handle {
    color: #555;
}

.tweet-text {
    margin-bottom: 10px;
}

.tweet-actions {
    display: flex;
}

.action-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    color: #555;
}

.action-btn:hover {
    text-decoration: underline;
}

/* Adicione este estilo no seu arquivo mural.css */

.post-box {
    margin-top: 20px;
}

.post-box textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.post-btn {
    background-color: #146cf0;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.post-btn:hover {
    background-color: #2980b9;
}


