<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login</title>
</head>

<body>



    <div class="centered-text">
        
        <img src="{{ url_for('static', filename='img/img_gamer.jpg') }}" alt="Descrição da Imagem">
    </div>


    <div class="login-container">
        <h2>Login</h2>
        <form action="/autenticacao" method="post">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="Email" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="Senha" required>

            <button type="submit" class="login-btn">Entrar</button>
            <p>Ainda não é cadastrado? <a href={{ url_for('register') }}>Clique aqui</a></p>
        </form>
    </div>

    <!-- Adicione o jQuery ao seu template, se ainda não estiver incluído -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


</body>

</html>