<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/register.css') }}">
    <title>Registre-se</title>
</head>
<body style="background-image: url('{{ url_for('static', filename='img/img_gamer.jpg') }}'); background-size: cover; background-position: center;">


    <div class="centered-text">
        <h2>Registre-se</h2>

        <div class="login-container">
            <form action="/cadastro" method="post">
                <label for="username">Nome Completo:</label>
                <input type="text" id="username" name="username" placeholder="Seu nome" required>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" required>

                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="Senha" required>

                <button type="submit" class="login-btn">Register</button>
            </form>
        </div>

        <p>Já possui Login? <a href="{{ url_for('login') }}">Clique aqui</a></p>
    </div>

</body>
</html>
